<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chitter</title>
    <link href="../public/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <button id="login-btn">Log In</button>
    <h1>Chitter</h1>
    <form id="post-form">
      Join the chit-chat:
      <br><input type="text" id="new-peep" placeholder="What's on your mind?"></br>
      <button type="submit">Post</button>
    </form>
    <h2>Peeps</h2>
    <div id="peeps"></div>
  </body>
  <script src="../src/peeps.js"></script>
  <script src="../src/likes.js"></script>
</html>