<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chitter</title>
  </head>
  <body>
    <h3>Log in</h3>
    <form id="login-form">
      <br>Username: <input type="text" id="handle"></br>
      <br>Password: <input type="password" id="password"></br>
      <br><button type="submit">Submit</button></br>
    </form>
    <h3>Sign up for Chitter!</h3>
    <form id="singup-form">
      <br>Username: <input type="text" id="newhandle"></br>
      <br>Password: <input type="password" id="newpassword"></br>
      <br><button type="submit">Submit</button></br>
    </form>
  </body>
  <script src="../src/users.js"></script>
</html>